In [1]:
name = 'My name is Ryan Mitchell'

In [4]:
name[5]

'm'

In [5]:
name[0:7]

'My name'

In [7]:
name[11:]

'Ryan Mitchell'

In [8]:
myList = [1,2,3,4,5]

myList[2:4]

[3, 4]

In [9]:
len(name)

24

In [1]:
myNumber = 5
myString = 'My number is: '+str(5)
print(myString)

My number is: 5

In [3]:
f'My number is: {myNumber}'

'My number is: 5'

In [9]:
f'My number is: {myNumber}, two times that is {2*myNumber}'

'My number is: 5, two times that is 10'

In [11]:
f'My number is: {{myNumber}}, two times that is {2*myNumber}'

'My number is: {myNumber}, two times that is 10'

In [12]:
import math

In [17]:
type(math.pi)

float

In [18]:
f'Pi is: {math.pi:.2f}'

'Pi is: 3.14'

In [23]:
myString = '''
Here is a long block of text
I can add newlines to this text
The text doesn't stop until it sees \'\'\'
'''
myString

"\nHere is a long block of text\nI can add newlines to this text\nThe text doesn't stop until it sees '''\n"