In [4]:
myList = [1,2,3,4,5]
[2*item for item in myList]

[2, 4, 6, 8, 10]

In [5]:
myList = [1,2,3,4,5]
doubledList = [2*number for number in myList]
doubledList

[2, 4, 6, 8, 10]

In [6]:
myList

[1, 2, 3, 4, 5]

In [9]:
[print(item) for item in myList]

1
2
3
4
5

[None, None, None, None, None]

In [10]:
for item in myList:
    print(item)

1
2
3
4
5

In [18]:
myList = list(range(0,100))
filteredList = [item for item in myList if item % 10 < 3]
print(filteredList)

[0, 1, 2, 10, 11, 12, 20, 21, 22, 30, 31, 32, 40, 41, 42, 50, 51, 52, 60, 61, 62, 70, 71, 72, 80, 81, 82, 90, 91, 92]

In [33]:
introduction = 'My name is Ryan Mitchell. I live in Boston.'
introduction.split('.')

['My name is Ryan Mitchell', ' I live in Boston', '']

In [43]:
introduction = 'My name is Ryan Mitchell. I live in Boston.'
introduction.split()

['My', 'name', 'is', 'Ryan', 'Mitchell.', 'I', 'live', 'in', 'Boston.']

In [44]:
def cleanWord(word):
    return word.replace('.', '').lower()

[cleanWord(word) for word in introduction.split()]

['my', 'name', 'is', 'ryan', 'mitchell', 'i', 'live', 'in', 'boston']

In [45]:
[cleanWord(word) for word in introduction.split() if len(cleanWord(word)) > 5 ]

['mitchell', 'boston']

In [46]:
[[cleanWord(word) for word in sentence.split()] for sentence in introduction.split('.')]

[['my', 'name', 'is', 'ryan', 'mitchell'], ['i', 'live', 'in', 'boston'], []]